<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
	<listener>
	    <listener-class>fr.carbuddyweb.dao.InitDAOFactory</listener-class>
	</listener>
	
	<!--
	========================================= 
	                 FILTERS
	=========================================
	-->
	
	<filter>
	    <filter-name>ConnectionFilter</filter-name>
	    <filter-class>fr.carbuddyweb.filter.ConnectionFilter</filter-class>
	</filter>

	<filter-mapping>
	    <filter-name>ConnectionFilter</filter-name>
	    <url-pattern>/session/*</url-pattern>
	</filter-mapping>
	
	<!--
	========================================= 
	                 SERVLETS
	=========================================
	-->
	
	<!-- === PUBLIC === -->
	
	<servlet>
		<servlet-name>UserDeconnection</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.UserDeconnection</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDeconnection</servlet-name>
		<url-pattern>/Deconnection</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserConnection</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.UserConnection</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserConnection</servlet-name>
		<url-pattern>/Connection</url-pattern>
	</servlet-mapping>

	<!-- FORMS -->
	
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.Inscription</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/Inscription</url-pattern>
	</servlet-mapping>
	
	<!-- === SESSION RESTRICTED === -->
	
	<!-- VIEWS -->
	
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.Index</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/session/index</url-pattern>
	</servlet-mapping>
	
	<!-- DETAIL -->
	
	<!-- Any user -->
	<servlet>
		<servlet-name>UserProfile</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.UserProfile</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserProfile</servlet-name>
		<url-pattern>/session/User/*</url-pattern>
	</servlet-mapping>
	
	<!-- Session user -->
	<servlet>
		<servlet-name>UserSessionProfile</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.UserSessionProfile</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserSessionProfile</servlet-name>
		<url-pattern>/session/MyProfile</url-pattern>
	</servlet-mapping>
	
	<!-- FORMS -->
	
	<!-- Session user edit -->
	<servlet>
		<servlet-name>UserSessionProfileEdit</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.UserSessionProfileEdit</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
		<init-param>
			<param-name>imageStoragePath</param-name> 
			<param-value>D:/Server/images/avatar/</param-value> 
		</init-param>
        <multipart-config>
            <location>D:/Server/images/avatar/</location> <!-- Must exists -->
            <max-file-size>2097152</max-file-size> <!-- 2 Mo -->
            <max-request-size>10485760</max-request-size> <!-- 5 x 2Mo -->
            <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
        </multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserSessionProfileEdit</servlet-name>
		<url-pattern>/session/EditProfile</url-pattern>
	</servlet-mapping>
	
	<!-- LISTING -->
	
	<servlet>
		<servlet-name>ListUsers</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.ListUsers</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ListUsers</servlet-name>
		<url-pattern>/session/Users</url-pattern>
	</servlet-mapping>

	<!-- FORMS -->
	
</web-app>