<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
	<!--
	========================================= 
	                 VIEWS
	=========================================
	-->
	
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.Index</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserDeconnection</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.UserDeconnection</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDeconnection</servlet-name>
		<url-pattern>/Deconnection</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserConnection</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.UserConnection</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserConnection</servlet-name>
		<url-pattern>/Connection</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DriverProfile</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.DriverProfile</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>DriverProfile</servlet-name>
		<url-pattern>/Driver</url-pattern>
	</servlet-mapping>

	<!-- INSCRIPTION -->
	
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>fr.carbuddyweb.servlet.Inscription</servlet-class>

		<init-param>
			<param-name>auteur</param-name> 
			<param-value>WillyBox</param-value> 
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/Inscription</url-pattern>
	</servlet-mapping>
	
</web-app>